.avatar{
    width: 100px;
    height: 50%;
}

.myinfo{
    width: 500px;
    position:absolute;
    margin:50px auto;
    left:500px;
    border-radius:10px;
    border-width:2px;
    border-style: solid;
    border-color:dimgrey;
    padding: 15px;
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    background-color: rgba(193,210,240,0.3);

}

